.mainWrapper {
  width: 100%;
  height: 850px;

  .mainHeader {
    text-align: center;
  }

  .btn {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    .btn1 {
      width: 100px;
      height: 100px;
      background-color: #4baa42;
      border-radius: 5px;
    }

    .btn2 {
      width: 100px;
      height: 100px;
      background-color: #8bc53e;
      border-radius: 5px;
    }

    .btn3 {
      width: 100px;
      height: 100px;
      background-color: #6fa5f6;
      border-radius: 5px;
    }

    .btn4 {
      width: 100px;
      height: 100px;
      background-color: #fc543c;
      border-radius: 5px;
    }
  }
}
