.mainWrapper {
  width: 1432px;
  height: 3423px;
  background-image: url(../../public/img/bg.jpg);

  .mainHeader {
    text-align: center;
    padding-top: 70px;
    margin-bottom: 200px;
    .title {
      font-size: 70px;
      border-radius: 5px;
      color: white;
    }
  }

  .btnBox {
    width: 100%;
    display: flex;
    justify-content: center;

    .btn1 {
      .btnImg {
        width: 270px;
      }
      // width: 100px;
      // height: 100px;
      margin: 30px;
      border-radius: 5px;
    }

    .btn2 {
      .btnImg {
        width: 270px;
      }
      // width: 100px;
      // height: 100px;
      margin: 30px;
      border-radius: 5px;
    }

    .btn3 {
      .btnImg {
        width: 270px;
      }
      // width: 100px;
      // height: 100px;
      margin: 30px;
      border-radius: 5px;
    }

    .btn4 {
      .btnImg {
        width: 270px;
      }
      // width: 100px;
      // height: 100px;
      margin: 30px;
      border-radius: 5px;
    }
  }
}
