.btn {
  width: 150px;
  height: 150px;
  border-radius: 70px;
  margin: 10px;
  border: 5px solid gray;
}

.btnClicked {
  width: 150px;
  height: 150px;
  border-radius: 70px;
  margin: 10px;
  border: 5px solid pink;
}

.guideStartBtn {
  width: 300px;
  height: 100px;
  background-color: pink;
  color: white;
  border-radius: 30px;
  text-align: center;
  line-height: 100px;
  font-size: 40px;
}
