.btn {
  width: 400px;
  height: 400px;
  border-radius: 170px;
  margin: 10px;
  border: 20px solid gray;
}

.btnClicked {
  width: 400px;
  height: 400px;
  border-radius: 170px;
  margin: 10px;
  border: 20px solid skyblue;
}

.guideStartBtn {
  width: 600px;
  height: 200px;
  margin-top: 100px;
  background-color: skyblue;
  color: white;
  border-radius: 30px;
  text-align: center;
  line-height: 200px;
  font-size: 80px;
}
